<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">
  <div class="d-flex justify-content-between">
    <h2><%= post.title %></h2>
    <span class="pt-2">
      <a
        href="#"
        class="text-primary mr-2"
        data-toggle="tooltip"
        data-placement="top"
        title="Edit"
        ><i class="fas fa-edit"></i
      ></a>
      <form class="delete-post-form d-inline" action="#" method="POST">
        <button
          class="delete-post-button text-danger"
          data-toggle="tooltip"
          data-placement="top"
          title="Delete"
        >
          <i class="fas fa-trash"></i>
        </button>
      </form>
    </span>
  </div>

  <p class="text-muted small mb-4">
    <a href="#"><img class="avatar-tiny" src="<%= post.author.avatar %>" /></a>
    Posted by <a href="#"><%= post.author.username %></a> on <%=
    post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate() %>/<%=
    post.createdDate.getFullYear() %>
  </p>

  <div class="body-content">
    <%= post.body %>
  </div>
</div>

<%- include('includes/footer') %>
